<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace='com.example.cloudmusic.dao.AlbumDao'>
	<resultMap id="BaseResultMap" type="com.example.cloudmusic.entity.Album">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="picUrl" jdbcType="VARCHAR" property="picUrl" />
	</resultMap>

	<!-- 获取专辑信息 -->
	<select id="getAlbum" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select id,name,picUrl from album where id = #{id}
	</select>

	<!-- 添加 -->
	<insert id="addAlbum" parameterType="com.example.cloudmusic.entity.Album">
        insert into album (id,name,picUrl) value(#{id}, #{name}, #{picUrl} )
	</insert>

</mapper>