<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace='com.example.cloudmusic.dao.PassportDao'>
	<select id="getPassport" parameterType="java.lang.String" resultType="java.lang.String">
		select passport from passport where uuid = #{uuid}
	</select>
</mapper>