<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace='com.example.cloudmusic.dao.UserDao'>

    <!-- 登录 -->
    <select id="login" parameterType="java.lang.String" resultType="java.lang.String">
		select pwd from users where tel = #{tel}
	</select>

    <!-- 注册 -->
    <insert id="register" parameterType="java.lang.String">
        insert into users (tel,pwd) value( #{tel}, #{pwd} )
	</insert>

    <!--用户是否存在-->
    <select id="isExist" parameterType="java.lang.String" resultType="java.lang.Boolean">
		select pwd from users where tel = #{tel}
	</select>

</mapper>